@import url(https://fonts.googleapis.com/css?family=Noto%20Sans);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: #080D2F;
    color: #fff;
}

ul {
    list-style: none;
}

.container {
    margin: 0 auto;
    padding: 0 50px;
}

.nav-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    transition: top 0.6s;
    background-color: rgba(8,13,47,1);
    z-index: 2147483647; /* to make sure it stays at the top most level */
}

.navbar {
    height: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar #logo a {
    color: #fff;
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
    transition-property: color;
    transition-duration: 0.3s;
}

.navbar #logo a:hover {
    color: #0FD5D5
}

.nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition-property: color;
    transition-duration: 0.3s;
}

.nav a:hover {
    color: #0FD5D5
}

/* navbar positioning settings */
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar .nav-item {
    display: flex;
}

.navbar .nav {
    display: flex;
    align-items: center;
}

/* Resume button settings*/
#resume a {
    margin-left: 50px;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px 10px;
    transition-property: color, border-color;
    transition-duration: 0.3s;
}

#resume a:hover {
    color: #0FD5D5;
    border-color: #0FD5D5;
}

/* Landing animation settings */

.logo-navitem-fadedown {
    animation: fade 0.25s ease-in-out both;
}

.nav-item li {
    margin-left: 50px;
    animation: fade 0.25s ease-in-out 0.3s both;
}

.nav-item li:nth-child(2) {
    animation-delay: 0.425s;
}

.nav-item li:nth-child(3) {
    animation-delay: 0.55s;
}

#resume{
    animation: fade 0.25s ease-in-out 0.675s both;
}

@keyframes fade {
    from {
        opacity: 0; 
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* Landing Page */

#landing .container {
    max-width: 1100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 5em;
}

#landing h1 {
    font-size: 5rem;
    font-weight: bold;
}

#landing h3 {
    color: #BEC2DE;
    font-size: 1.5rem;
    font-weight: normal;
}

#landing p {
    color: #A3A7C1;
    font-size: 1.1rem;
    font-weight: lighter;
    padding-bottom: 30px;
}

#hi {
    animation: fade 0.25s ease-in-out 0.7s both;
}

#name {
    animation: fade 0.25s ease-in-out 0.825s both;
}

#sub-1 {
    animation: fade 0.25s ease-in-out 0.95s both;
}

#sub-2 {
    animation: fade 0.25s ease-in-out 1.075s both;
}

.arrow-down {
    animation: fade 0.25s ease-in-out 1.2s both, moveArrow 1s alternate infinite;
}

@keyframes moveArrow {
    from {transform: translateY(0px);}
    to {transform: translateY(30px);}
}

/* Socials Buttons */

.socials {
    position: fixed;
    bottom: 60px;
}

.socials li {
    padding: 5px 5px;
    animation: fade-fromRight 0.25s ease-in-out 1.45s both;
}

.socials li:nth-child(2) {
    animation-delay: 1.575s;
}

.socials li:nth-child(3) {
    animation-delay: 1.7s;
}

.socials li:nth-child(4) {
    animation-delay: 1.825s;
}

.socials a {
    color: #fff;
    display: inline-block;
    transition-property: color, transform;
    transition-duration: 0.3s;
}

.socials a:hover {
    color:#0FD5D5;
    transform: translateY(-5px);
}

@keyframes fade-fromRight {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }
    to {
        opacity: 1;
        transform: translateX(0px)
    }
}

/* About page settings */

#about {
    padding-left: 10em;
    height: 100vh;
}

#about h2 {
    padding-left: 50px;
    padding-top: 1em;
    font-size: 3rem;
}

.hr {
    margin-left:50px;
    width: 20%;
    border: 2px solid #fff;
    margin-bottom: 50px;
}

#about .container {
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.profile {
    height: 456px;
    margin: 20px 50px;
    padding: 10px 10px;
    border: 1px solid;
}

#work{
    padding-left: 10em;
    background-color: red;
}

#work h2 {
    padding-left: 50px;
    padding-top: 1em;
    font-size: 3rem;
}

#contact .container{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#contact h2{
    font-size: 3rem;
    padding-bottom: 50px;
}

#contact a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px 20px;
    transition-property: color, border-color;
    transition-duration: 0.3s;
}

#contact a:hover {
    color: #0FD5D5;
    border-color: #0FD5D5;
}

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.footer-container {
    height: 60px;
    margin-top: -60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}