@import url(https://fonts.googleapis.com/css?family=Noto%20Sans);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: #080D2F;
    color: #fff;
}

ul {
    list-style: none;
}

.container {
    margin: 0 auto;
    padding: 0 50px;
}

.nav-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    transition: top 0.6s;
    background-color: #080D2F;
    z-index: 2147483646; /* to make sure it stays at the top most level */
}

.navbar {
    height: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.navbar #logo a {
    color: #fff;
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
    transition-property: color;
    transition-duration: 0.3s;
}

.navbar #logo a:hover {
    color: #0FD5D5
}

.nav a {
    color: #080D2F;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    transition-property: color;
    transition-duration: 0.3s;
    padding: .75em 2em;
    display: block;
}

.nav a:hover {
    color: #0FD5D5;
    background: rgb(240, 240, 240);
}

/* navbar positioning settings */
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav {
    position: fixed;
    right: 0;
    top: 0;
    background-color: white;
    height: 100vh;
    width: 50%;
    z-index: 2147483647;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;
}

.nav-item {
    margin-top: 8em;
    padding: 0;
}

.nav-item a {
    padding: .75em 2em;
    display: block;
}

.close {
    color: #080D2F;
    float: right;
    margin: 40px;
    width: 2em;
}

.menu {
    width: 2em;
}

.open-nav {
    transform: translateX(0);
}

.socialsFooter a {
    color: #fff;
    transition-property: color, transform;
    transition-duration: 0.3s;
}

.socialsFooter a:hover {
    color:#0FD5D5;
    transform: translateY(-5px);
}

.socialsFooter li {
    padding: 5px 5px;
    display: inline-block;
}

.socials {
    display: none;
}

/* Landing Page */

#landing .container {
    max-width: 1100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 80px;
}

#landing h1 {
    font-size: 3em;
    font-weight: bold;
}

#landing h3 {
    color: #BEC2DE;
    font-size: 1.5em;
    font-weight: normal;
}

#landing p {
    color: #A3A7C1;
    font-size: 1.1em;
    font-weight: lighter;
    padding-bottom: 20px;
}

#hi {
    animation: fade 0.25s ease-in-out 0.7s both;
}

#name {
    animation: fade 0.25s ease-in-out 0.825s both;
}

#sub-1 {
    animation: fade 0.25s ease-in-out 0.95s both;
}

#sub-2 {
    animation: fade 0.25s ease-in-out 1.075s both;
}

.arrow-down {
    animation: fade 0.25s ease-in-out 1.2s both, moveArrow 1s alternate infinite;
    width: 1.5em;
}

@keyframes moveArrow {
    from {transform: translateY(0px);}
    to {transform: translateY(30px);}
}

/* About page settings */

#about h2 {
    font-size: 3rem;
}

.hr {
    width: 20%;
    border: 2px solid #fff;
}

#about .container{
    max-width: 1100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

#about .aboutme-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.list_tech {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.tech {
    list-style-type: disc;
}

.profile {
    height: 456px;
    margin: 20px 50px;
    padding: 0px 10px;
}

.profile p {
    font-size: 1.1rem;
    font-weight: lighter;
}

#work .container{
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

#work h2 {
    font-size: 3rem;
}

#work .work-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#work .project {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

#work .content {
    height: 456px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 50px;
    padding: 0px 10px;
}

.content h3 {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
}

.content p {
    font-size: 18px;
    margin-bottom: 25px;
}

#work a {
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px 20px;
    transition-property: color, border-color;
    transition-duration: 0.3s;
}

#work a:hover {
    color: #0FD5D5;
    border-color: #0FD5D5;
}

.prog-lang {
    color: #0FD5D5;
    font-weight: bold;
}

#contact .container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#contact h2{
    font-size: 3rem;
    padding-bottom: 10px;
}

#contact p{
    width: 600px;
    padding-bottom: 50px;
}

#contact a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px 20px;
    transition-property: color, border-color;
    transition-duration: 0.3s;
}

#contact a:hover {
    color: #0FD5D5;
    border-color: #0FD5D5;
}

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.footer-container {
    height: 60px;
    margin-top: -60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 680px) {
    
    #landing h1 {
        font-size: 4em;
    }

}

@media only screen and (min-width: 920px) {
    .menu {
        display: none;
    }
    
    .navbar .nav-item {
        display: flex;
    }

    .nav {
        transform: translateX(0);
        position: unset;
        width: auto;
        height: auto;
        background: none;
    }
    
    .navbar .nav {
        display: flex;
        align-items: center;
    }

    .nav a {
        color: #fff;
        font-size: 18px;
    }

    .nav a:hover {
        background: none;
    }
    
    .nav-item {
        margin-top: 0;
    }
    
    .nav-item a {
        padding: 0;
        display: unset;
    }

    /* Resume button settings*/
    #resume a {
        margin-left: 50px;
        border: 1px solid;
        border-radius: 5px;
        padding: 5px 10px;
        transition-property: color, border-color;
        transition-duration: 0.3s;
    }

    #resume a:hover {
        color: #0FD5D5;
        border-color: #0FD5D5;
    }

    /* Landing animation settings */

    .logo-navitem-fadedown {
        animation: fade 0.25s ease-in-out both;
    }

    .nav-item li {
        margin-left: 50px;
        animation: fade 0.25s ease-in-out 0.3s both;
    }

    .nav-item li:nth-child(2) {
        animation-delay: 0.425s;
    }

    .nav-item li:nth-child(3) {
        animation-delay: 0.55s;
    }

    #resume{
        animation: fade 0.25s ease-in-out 0.675s both;
    }

    @keyframes fade {
        from {
            opacity: 0; 
            transform: translateY(-20px);
        }
        to {
            opacity: 1;
            transform: translateY(0px);
        }
    }

    .socialsFooter {
        display: none;
    }

    /* Socials Buttons */

    .socials {
        position: fixed;
        bottom: 60px;
        display: block;
    }

    .socials li {
        padding: 5px 5px;
        animation: fade-fromRight 0.25s ease-in-out 1.45s both;
    }

    .socials li:nth-child(2) {
        animation-delay: 1.575s;
    }

    .socials li:nth-child(3) {
        animation-delay: 1.7s;
    }

    .socials li:nth-child(4) {
        animation-delay: 1.825s;
    }

    .socials a {
        color: #fff;
        display: inline-block;
        transition-property: color, transform;
        transition-duration: 0.3s;
    }

    .socials a:hover {
        color:#0FD5D5;
        transform: translateY(-5px);
    }

    @keyframes fade-fromRight {
        from {
            opacity: 0;
            transform: translateX(-30px);
        }
        to {
            opacity: 1;
            transform: translateX(0px)
        }
    }

    #landing .container {
        margin-left: 134px;
    }

    #landing h1 {
        font-size: 5em;
    }

}
